@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');





:root {
   --skyBlue: #36BCF8;
   --purple: #97A9FF;
   --orange: #FF8C7E;
   --black: #333333;
   --sub-font: 'Noto Sans TC', sans-serif;
}

body {
   font-family: "Wanted Sans Variable", 'Noto Sans TC', '맑은 고딕', sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.5;
   letter-spacing: -2.5%;
   color: var(--black);
   overflow-x: hidden;
   -ms-overflow-style: none;
}

::-webkit-scrollbar {
   display: none;
}

.inner {
   width: 1540px;
   margin: 0 auto;
   color: #333333;
}



/*header*/

#header{
    top: 0;
    left: 0;
     background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    height: fit-content;
    z-index: 999;
    transition: all 0.5s;
}

#header h1 img {
   width: 158px;
   aspect-ratio:4.157894736842105/1;
}



#header .inner .blog img{ width: 30px; height: 30px; }
#header .inner .blog {display: flex; justify-content: space-between;}


#header.active .gnb > li > a {
   color: var(--black);
}

#header.active .util .lang li a {
   color: var(--black);
}

#header .inner {
   width:1540px;
   aspect-ratio: 17.90697674418605/1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 400;
   font-size: 0.9rem;
   color: #333333;
}

#header nav {
   width: 732px;
   aspect-ratio:31.90909090909091/1;
   margin: 0 auto;
}

#header .gnb {
   display: flex;
}

#header .gnb > li {
   width: calc(100% / 7);
   position: relative;
   padding: 10px;
}

#header .gnb > li::before {
   content: '';
   display: block;
   width: 0;
   height: 3px;
   background: var(--orange);
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   transition: all 0.5s;
}

#header .gnb > li:hover::before {
   width: 100%;
}

#header .gnb > li > a {
   display: block;
   width: 100%;
   padding: 2px;
   color: #333333;
   font-weight: 200;
   font-size: 0.9rem;
   text-align: center;
   transition: all 0.5s;
}

#header .gnb > li:hover > a {
   color: var(--orange);
}

/*section01*/

.section01{
   width: 100%;
   height: fit-content;
   background-color: #F1F1F5;
}

.section01Contents{
   width: 1540px;
   aspect-ratio: 1.96930946291560;
   background-color: #F1F1F5;
   margin: 0 auto;
   position: relative;
   color: #ffffff;
}


.container {
  width: 1050px;
   aspect-ratio: 2.253218884120172/1;
  position: absolute;
  left: 0%;
  transform: translateX(-0%);
  overflow: hidden;

}

.swiper {
      width: 1050px;
      aspect-ratio: 2.253218884120172/1;
      border-radius: 21px;
      position: absolute;
      left: 0px;
      margin-top: 24px;
      z-index: 999;
        overflow-y: visible;
      
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      transition: all 1s;
      justify-content: center;
      align-items: center;
      border-radius: 21px;
        overflow-y: visible;
    }



.swiper-wrapper :nth-child(1){background-color: #97A9FF;}
.swiper-wrapper :nth-child(2){background-color: #FF8C7E;}
.swiper-wrapper :nth-child(3){background-color: #4FE9B8;}


/*위의 1,2,3, 선택자로 인하여 이미지는 nth child 4번부터 적용됨*/
.swiper-wrapper #slide01 img{width: 358px; 
   aspect-ratio: 1/1;
   position: absolute;
   right: 130px; 
   top: -100px;
   background: transparent;
 
      }

.swiper-wrapper #slide01 img:nth-child(4){
   width: 358px; 
   aspect-ratio: 1/1;
   position: absolute;
   right: 370px; 
   top: 20px;
   background: transparent;
}


.swiper-wrapper #slide01 img:nth-child(5){
   width: 240px;
   aspect-ratio: 1/1;
   position: absolute;
   left: 550px;
   top: 190px;
   background: transparent;
}

.swiper-wrapper #slide01 img:nth-child(6){
   width: 258px; 
   aspect-ratio: 1/1;
   position: absolute;
   left: 70px; 
   top: 30px;
   background: transparent;
}


.swiper-wrapper #slide01 h2{
   font-size: 3rem;
   font-weight: 700;
   background-color: transparent;
   z-index: 10;
   position: absolute;
   bottom: 120px;
   left: 55px;
}

.swiper-wrapper #slide01 span{
   font-size: 1rem;
   font-weight: 300;
   text-align: left;
   background-color: transparent;
   position: absolute;
   left: 55px;
   bottom: 48px;
   z-index: 10;
}

/*slide02*/

.swiper-wrapper #slide02 h2{
   font-size: 3rem;
   font-weight: 700;
   background-color: transparent;
   z-index: 10;
   position: absolute;
   bottom: 120px;
   left: 55px;
}

.swiper-wrapper #slide02 span{
   font-size: 1rem;
   font-weight: 300;
   text-align: left;
   background-color: transparent;
   position: absolute;
   left: 55px;
   bottom: 48px;
}

.swiper-wrapper #slide02 img{
   width: 300px;
   aspect-ratio: 1/1;
   position: absolute;
   right: 325px;
   bottom: 153px;
   background: transparent;
}

.swiper-wrapper #slide02 img + img{
   width: 300px;
   aspect-ratio: 1/1;
   position: absolute;
   right: 205px;
   bottom: 103px;
   background: transparent;
}

/*slide03*/

.swiper-wrapper #slide03 img{
   width: 316px;
   aspect-ratio: 1.504761904761905/1;
   position: absolute;
   right: 325px;
   bottom: 203px;
   background: transparent;
}


.swiper-wrapper #slide03 h2{
   font-size: 3rem;
   font-weight: 700;
   background-color: transparent;
   z-index: 10;
   position: absolute;
   bottom: 120px;
   left: 55px;
}

.swiper-wrapper #slide03 span{
   font-size: 1rem;
   font-weight: 300;
   text-align: left;
   background-color: transparent;
   position: absolute;
   left: 55px;
   bottom: 48px;
}



.slide_Under_Menu{
   width: 1050px;
   aspect-ratio: 7.835820895522388/1;
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    left: 0px;
    bottom: 158px;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slide_Under_Menu img{
   width: 46px;
   height: 46px;
  
}




.slide_Under_Menu02{
   width: 464px;
   aspect-ratio: 2.048458149779736/1;
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    right: 3px;
    bottom: 158px;
    border-radius: 24px;
}


/*로그인 영역*/

.section01aside{
   width: 465px;
   aspect-ratio: 1.24/1;
   background-color: #36BCF8;
   border-radius: 21px;
   position: absolute;
   right: 4px;
   margin-top: 24px;
}

.section01aside #decoration{
   position: absolute;
   right: 0px;
   bottom: -54px;
   z-index: 15;
}

.section01aside #loginIcon{
   width: 36px;
   height: 32px;
   position: absolute;
   top: 48px;
   left: 40px;
}


.section01aside #pwIcon{
   width: 36px;
   height: 32px;
   position: absolute;
   top: 106px;
   left: 40px;
}


.IDPW {
  width: 316px;
  height: 46px;
  margin: 0 0 16px 0px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 3px;
  background-color: #ffffff;
  position: relative;
  left: 104px;
  top: 38px;
  border-radius: 8px;
}




.section01aside #로그인버튼{
   width: 384px;
   height: 56px;
   background-color: #3D4864;
   border-radius: 8px;
   color: #ffffff;
   position: absolute;
   bottom: 55px;
   left: 34px;
   font-size: 1.1rem;
   font-weight: 500;
}












/*section02*/
.section02{
   width: 100%;
  height: fit-content;
  background-color: #FBFBFB;
}

#deco02{
   position: absolute;
   left: 0px;
   top: -84px;
   z-index: 15;
}


.section02Contents{
   width: 1540px;
   aspect-ratio: 1.41284403669724/1;
   margin: 0 auto;
   position: relative;
   
}